body {
    background-color: rgb(162, 233, 238) !important;
}
header {
    color: cornsilk;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: auto;
    padding-top: 10px;
    background-color: rgb(8, 80, 104);
    text-align: center;

}
p{
    text-align: left;
    width: 20%;
    float: left;
    font-size: 120%;
    padding-left: 10px;
}
nav{
    padding-right: 5px;
    margin: 2px;
    text-align: right;
    width: 20%;
    float: right;
}
section{
    margin: 80px 2px 80px 2px;
    padding-top: 50px;
    height: 100%;
   
    
    
}
div{
    margin: 10px;
   //background-color: rgb(128, 177, 177); 
    padding: 2px;
}

footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}


@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
            
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
          
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */

            top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
		td:nth-of-type(1):before { content: "ID"; }
		td:nth-of-type(2):before { content: "NAME"; }
		td:nth-of-type(3):before { content: "E-MAIL"; }
	}